// Brite 5.3.6
// Bootswatch


// Variables

:root {
  --#{$prefix}border-width: 2px;
  --#{$prefix}border-color: #000;
}

[data-bs-theme="light"],
[data-bs-theme="dark"] {
  --#{$prefix}border-color: #000;
}

// Mixins

@mixin btn-shadow(){
  box-shadow: 3px 3px 0 0 var(--#{$prefix}border-color);
}

.table {
  border: 2px solid $black;
}

// Navbar

.navbar {
  $navbar-border-width: 2px;
  font-size: $font-size-lg;
  font-weight: $headings-font-weight;

  border: $navbar-border-width solid $black;

  &.fixed-top {
    border-width: 0 0 $navbar-border-width 0;
  }

  &.fixed-bottom {
    border-width: $navbar-border-width 0 0 0;
  }

  .dropdown-toggle::after {
    margin-left: .15em;
    vertical-align: .15em;
  }

  &-toggler {
    --bs-border-width: 2px;
  }
}

// Buttons

.btn {
  margin: 3px 0 0 3px;
  border-color: $black;
  @include btn-shadow();
  transition: all .3s;
  transform: translate(-3px, -3px);

  &:hover {
    border-color: $black;
    box-shadow: none;
    transform: translate(0, 0);
  }

  &.disabled {
    border-color: $black;
  }

  &-link,
  &-link:hover {
    color: $black;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $black;
    background-color: #{$value};
    box-shadow: none;
    transform: translate(0, 0);

    &:hover {
      @include btn-shadow();
      transform: translate(-3px, -3px);
    }
  }

  .btn-check + .btn-#{$color},
  .btn-check + .btn-outline-#{$color} {
    &:hover {
      background-color: #{$value};
    }
  }
}

.btn-outline-dark {
  color: $white;
}

.btn-group {
  .btn {
    margin-left: 0;
  }
}

.btn-group,
.btn-group-vertical {
  .btn {
    &:hover,
    &:active,
    &:focus {
      z-index: 0;
    }

  }

  > .btn-check:focus + .btn,
  > .btn-check:checked + .btn {
    z-index: 0;
  }
}

.btn-check + .btn {
  border-color: $black;
  @include btn-shadow();
  transform: translate(-3px, -3px);
}

.btn-check + .btn:hover {
  color: $black;
  border-color: $black;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border-color: $black;
  box-shadow: none;
  transform: translate(0, 0);
}

[data-bs-theme="dark"] .btn-link,
[data-bs-theme="dark"] .btn-link:hover {
  color: #fff;
}

// Typography

a {
  font-weight: $headings-font-weight;
}

// Forms

.form-range {

  &:not([disabled])::-moz-range-progress {
    height: .6rem;
    background-color: $primary;
    border-radius: 6px 0 0 6px;
  }

  &:not([disabled])::-ms-fill-lower {
    height: .6rem;
    background-color: $primary;
    border-radius: 6px 0 0 6px;
  }

  &::-webkit-slider-runnable-track {
    border: 2px solid $black;
  }

  &::-moz-range-track {
    border: 2px solid $black;
  }

  &::-webkit-slider-thumb {
    margin-top: -.4rem;
  }

  &::-moz-range-thumb {
    margin-top: -.4rem;
  }

  &:focus::-webkit-slider-thumb {
    box-shadow: none;
  }

  &:focus::-moz-range-thumb {
    box-shadow: none;
  }
}

// Navs

.nav-tabs {
  gap: 4px;
  padding: .4rem .4rem calc(.4rem + 2px);
  font-weight: $headings-font-weight;
  border: 2px solid $black;
  border-radius: $border-radius-lg;

  .nav-link {
    border-width: 2px;
    border-radius: $border-radius;

    &.active,
    &:hover {
      border: 2px solid $black;
    }
  }
}

.tab-content {
  padding: 1rem;
  margin-top: 1rem;
  border: 2px solid $black;
  border-radius: $border-radius-lg;
}

.nav-pills {
  gap: 4px;
  font-weight: $headings-font-weight;

  .nav-link {
    border: 2px solid $black;
  }
}

.breadcrumb {
  font-weight: $headings-font-weight;
  border: 2px solid $black;

  a {
    color: $black;
  }
}

.dropdown-menu {
  @include btn-shadow();
  border-radius: $border-radius;
}

.dropdown-header {
  font-weight: 700;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #000;
}

@each $color, $value in $theme-colors {
  .list-group-item-#{$color} {
    color: $black;
    background-color: #{$value};
    border-color: $black;
  }
}

.list-group-item-dark {
  color: $white;
}

[data-bs-theme="dark"] {
  .nav-tabs,
  .nav-pills {
    .nav-link {
      --#{$prefix}nav-link-color: #fff;

      &:hover,
      &:focus {
        --#{$prefix}nav-link-hover-color: #fff;
      }
    }
  }

  .page-link {
    --#{$prefix}pagination-color: #fff;

    &:hover {
      --#{$prefix}pagination-hover-color: #fff;
    }
  }

  .nav-underline {
    .nav-link {
      --#{$prefix}nav-link-color: #fff;

      &:hover,
      &:focus {
        --#{$prefix}nav-link-hover-color: #fff;
      }
    }
  }

  .breadcrumb {
    a {
      color: $white;
    }
  }

  .breadcrumb-item {
    &.active {
      --#{$prefix}breadcrumb-item-active-color: #fff;
    }
  }
}

// Indicators

.alert {
  color: $black;
  border: 2px solid $black;
  @include btn-shadow();
}

.alert-link {
  color: $black;
}

.alert-dark {
  color: $white;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    background-color: #{$value};
  }
}

.badge {
  border: 2px solid $black;

  &.bg-dark {
    color: $white;
  }
}

.progress {
  border: 2px solid $black;

  &-bar {
    border-right: 2px solid $black;
  }
}

.modal {
  &-content {
    @include btn-shadow();
  }
}

.vr {
  width: 2px;
  background-color: $black;
}

[data-bs-theme="dark"] .toast-header {
  --#{$prefix}toast-header-color: #fff;
}


$theme-colors-variants: (
  d: (
    d1: 5%, d2: 15%, d3: 25%, d4: 35%, d5: 45%, d6: 55%, d7:65%, d8:75%
  ),
  l: (
    l1: 5%, l2: 15%, l3: 25%, l4: 35%, l5: 45%, l6: 55%, l7:65%, l8:75%
  )
);

$theme-colors-maps: ();

@each $type, $variants in $theme-colors-variants {
  @each $suffix, $percent in $variants {
    $map-name: '#{$suffix}';
    $theme-colors-maps: map-merge($theme-colors-maps, ($map-name: ()));
    
    @each $color, $value in $theme-colors {
      $new-color: if($type == d, mix(black, $value, $percent), mix(white, $value, $percent));
      $theme-colors-maps: map-merge($theme-colors-maps, (
        $map-name: map-merge(map-get($theme-colors-maps, $map-name), ($color: $new-color))
      ));
    }
  }
}

@mixin apply-colors($map, $suffix) {
  @each $color, $value in $map {
    .btn-#{$color}-#{$suffix} {
      background-color: $value;
      border-color: $value;

      @if str-index($suffix, 'd') != null {
        color: lighten($value, 30%);
      } @else {
        color: darken($value, 30%);
      }
    }
    
    .btn-#{$color}-#{$suffix}:hover {
      @if str-index($suffix, 'd') != null {
        background-color: lighten($value, 10%);
      } @else {
        background-color: darken($value, 10%);
      }
    }
    
    .bg-#{$color}-#{$suffix} {
      background-color: $value !important;
      
      @if str-index($suffix, 'd') != null {
        color: lighten($value, 40%) ;
      } @else {
        color: darken($value, 40%) ;
      }
    }
  
  /*Outline*/
    .btn-outline-#{$color}-#{$suffix} {
      border-color: $value;
      color: $value;
    }
    .btn-outline-#{$color}-#{$suffix}:hover{
      background-color: $value;
      @if str-index($suffix, 'd') != null {
        color: lighten($value, 40%) !important;
      } @else {
        color: darken($value, 40%) !important;
      }
    }
    .bg-outline-#{$color}-#{$suffix}{
      border-color: $value !important;
      color: $value;
    }
    //directos
    .bs-#{$color}-#{$suffix}{
      border-left: 4px solid $value;
      padding-left: 3px;
    }
    .be-#{$color}-#{$suffix}{
      border-right: 4px solid $value;
      padding-right: 3px;
    }
    .bt-#{$color}-#{$suffix}{
      border-top: 4px solid $value;
      padding-top: 3px;
    }
    .bb-#{$color}-#{$suffix}{
      border-bottom: 4px solid $value;
      padding-bottom: 3px;
    }
    .text-#{$color}-#{$suffix} {
      color: $value;
    }
    .border-#{$color}-#{$suffix} {
      border: 2px solid $value;
    }
    .hv-#{$color}-#{$suffix}:hover {
      background-color: $value !important;
    }
    .hv-text-#{$color}-#{$suffix}:hover {
      color: $value !important;
    }
    .hv-#{$color}-#{$suffix},
    .hv-text-#{$color}-#{$suffix}{
      transition: all 0.4s ease;
    }
    .hv-before-#{$color}-#{$suffix}:hover::before,
    .hv-before-#{$color}-#{$suffix}:hover::after{
      background-color: $value !important;
    }
    .hv-before-#{$color}-#{$suffix}::before,
    .hv-before-#{$color}-#{$suffix}::after{
      background-color: $value !important;
    }
    .after-bg-#{$color}-#{$suffix}::after{
      background-color: $value !important;
    }
  }
}

@each $suffix, $map in $theme-colors-maps {
  @include apply-colors($map, $suffix);
}

:root {
  @each $suffix, $map in $theme-colors-maps {
    @each $color, $value in $map {
      --bs-#{$color}-#{$suffix}: #{$value};
      --color-#{$color}-#{$suffix}: #{$value};
    }
  }
}


//colores
@mixin apply-bootstrap-colors($map) {
  @each $color, $value in $map {
    .hv-#{$color}:hover{
      background-color:  $value !important;
    }
    .hv-text-#{$color}:hover{
      color:  $value !important;
    }
    .hv-#{$color},
    .hv-text-#{$color}{
      transition: all 0.4s ease;
    }
    .bs-#{$color}{
      border-left: 4px solid $value;
      padding-left: 3px;
    }
    .be-#{$color}{
      border-right: 4px solid $value;
      padding-right: 3px;
    }
    .bt-#{$color}{
      border-top: 4px solid $value;
      padding-top: 3px;
    }
    .bb-#{$color}{
      border-bottom: 4px solid $value;
      padding-bottom: 3px;
    }

    .hv-before-#{$color}:hover::before,
    .hv-before-#{$color}:hover::after{
      background-color: $value !important;
    }
    .hv-before-#{$color}::before,
    .hv-before-#{$color}::after{
      background-color: $value !important;
    }

    .bg-outline-#{$color}{
      border-color: $value !important;
      color: $value;
      transition: background-color 0.5s ease;
    }
    .bg-outline-#{$color}:hover{
      background-color: $value !important;
    }

    .after-bg-#{$color}::after{
      background-color: $value !important;
    }
  }
}
@include apply-bootstrap-colors($theme-colors);


.dh1 {
  @include font-size($h1-font-size);
}

.dh2 {
  @include font-size($h2-font-size);
}

.dh3 {
  @include font-size($h3-font-size);
}

.dh4 {
  @include font-size($h4-font-size);
}

.dh5 {
  @include font-size($h5-font-size);
}

.dh6 {
  @include font-size($h6-font-size);
}


$custom-spacers: (
  6: 3rem,   // 6 × 0.5rem (Bootstrap scale)
  7: 3.5rem  // 7 × 0.5rem
);

@mixin custom-spacing-utilities($map, $prefix, $property) {
  @each $size, $value in $map {
    .#{$prefix}-#{$size} { #{$property}: $value !important; }
    .#{$prefix}t-#{$size} { #{$property}-top: $value !important; }
    .#{$prefix}b-#{$size} { #{$property}-bottom: $value !important; }
    .#{$prefix}s-#{$size} { #{$property}-left: $value !important; }
    .#{$prefix}e-#{$size} { #{$property}-right: $value !important; }
    .#{$prefix}x-#{$size} {
      #{$property}-left: $value !important;
      #{$property}-right: $value !important;
    }
    .#{$prefix}y-#{$size} {
      #{$property}-top: $value !important;
      #{$property}-bottom: $value !important;
    }
  }
}
@include custom-spacing-utilities($custom-spacers, 'p', 'padding');
@include custom-spacing-utilities($custom-spacers, 'm', 'margin');